<div class="project-container animate__animated animate__fadeIn animate__faster">
       <gridster [options]="options">
        <gridster-item [item]="dashboard[0]">
            <ngx-monaco-editor
                [options]="editorHTML"
                [(ngModel)]="codeHTML"
                style="height: 100%;"
            ></ngx-monaco-editor>
        </gridster-item>
        <gridster-item [item]="dashboard[1]">
            <ngx-monaco-editor
                [options]="editorCSS"
                [(ngModel)]="codeCSS"
                style="height: 100%;"
            ></ngx-monaco-editor>
        </gridster-item>
        <gridster-item [item]="dashboard[2]">
            <ngx-monaco-editor
                [options]="editorJS"
                [(ngModel)]="codeJS"
                style="height: 100%;"
            ></ngx-monaco-editor>
        </gridster-item>
        <gridster-item [item]="dashboard[3]"> </gridster-item>
    </gridster>
</div>
