<div class="h-100 animate__animated animate__fadeIn animate__faster" id="main">
    <app-project-navbar
        [name]="project.name"
        (updateName)="(project.name = $event)"
        (save)="editProject()"
        (export)="exportProject()"
    ></app-project-navbar>
    <div id="project-container">
        <gridster [options]="options">
            <gridster-item [item]="dashboard[0]" class="bg-editor">
                <div class="title">
                    <span>HTML</span>
                    <a class="nav-link p-0 download" ngFyRipple (click)="exportProject('html')"
                        ><i class="fa fa-download" aria-hidden="true"></i
                    ></a>
                </div>
                <ngx-monaco-editor
                    [options]="editorHTML"
                    [(ngModel)]="project.html"
                    (ngModelChange)="renderProject()"
                    style="height: 100%;"
                ></ngx-monaco-editor>
            </gridster-item>
            <gridster-item [item]="dashboard[1]" class="bg-editor">
                <div class="title">
                    <span>CSS</span>
                    <a class="nav-link p-0 download" ngFyRipple (click)="exportProject('css')"
                        ><i class="fa fa-download" aria-hidden="true"></i
                    ></a>
                </div>
                <ngx-monaco-editor
                    [options]="editorCSS"
                    [(ngModel)]="project.css"
                    (ngModelChange)="renderProject()"
                    style="height: 100%;"
                ></ngx-monaco-editor>
            </gridster-item>
            <gridster-item [item]="dashboard[2]" class="bg-editor">
                <div class="title">
                    <span>JS</span>
                    <a class="nav-link p-0 download" ngFyRipple (click)="exportProject('js')"
                        ><i class="fa fa-download" aria-hidden="true"></i
                    ></a>
                </div>
                <ngx-monaco-editor
                    [options]="editorJS"
                    [(ngModel)]="project.js"
                    (ngModelChange)="renderProject()"
                    style="height: 100%;"
                ></ngx-monaco-editor>
            </gridster-item>
            <gridster-item [item]="dashboard[3]">
                <iframe src="" frameborder="0" #iframe> </iframe>
            </gridster-item>
        </gridster>
    </div>

    <app-project-footer (layout)="setLayout($event)"></app-project-footer>
</div>
