@import 'variables.scss';

ul,
li {
  font-size: 1em;
  color: #6D767D;
  list-style: none;
}

li:focus {
  outline: none;
}

label:hover {
  cursor: pointer;
  color: #4c576b;
}

#menu {
  padding-left: 20px;
}

#menu li {
  line-height: 180%;
  white-space: nowrap;
}

#menu input[name="list"] {
  position: absolute;
  left: -1000em; //Ocultar check Icon
}
#menu label:before {
  content: "\f054 \00a0 \00a0 \00a0 \f07b";
  font-family: fontawesome;
  font-size: 1.2em;
  margin-right: 4px;
}

#menu input:checked ~ label:before {
  // content: "\f078 \00a0 \00a0 \00a0 \f07c";
  // font-family: fontawesome;
}

#menu .interior {
  display: none;
}
#menu input:checked ~ ul {
  display: block;
}

@keyframes slide {
  from { width: 0;}
  to { width: 170%;}
}
