# See http://help.github.com/ignore-files/ for more about ignoring files.
#FrontEnd
# compiled output
/codeLink-app/dist
/codeLink-app/tmp
/codeLink-app/out-tsc
# Only exists if Bazel was run
/codeLink-app/bazel-out

# dependencies
/codeLink-app/node_modules

# profiling files
/codeLink-app/chrome-profiler-events*.json
/codeLink-app/speed-measure-plugin*.json

# IDEs and editors
/codeLink-app/.idea
/codeLink-app/.project
/codeLink-app/.classpath
/codeLink-app/.c9/
/codeLink-app/*.launch
/codeLink-app/.settings/
/codeLink-app/*.sublime-workspace

# IDE - VSCode
/codeLink-app/.vscode/*
/codeLink-app/!.vscode/settings.json
/codeLink-app/!.vscode/tasks.json
/codeLink-app/!.vscode/launch.json
/codeLink-app/!.vscode/extensions.json
/codeLink-app/.history/*

# misc
/codeLink-app/.sass-cache
/codeLink-app/connect.lock
/codeLink-app/coverage
/codeLink-app/libpeerconnection.log
/codeLink-app/npm-debug.log
/codeLink-app/yarn-error.log
/codeLink-app/testem.log
/codeLink-app/typings

# System Files
/codeLink-app/.DS_Store
/codeLink-app/Thumbs.db


#BackEnd
/codeLink-api/node_modules
