#btn-sidebar-toggle {
    background: transparent;
    border: none;
    font-size: 1.3em;
    color: #575757;
}

#btn-sidebar-toggle:focus {
    outline: none;
}

#btn-sidebar-toggle:active {
    color: blue;
}

#img-logo {
    width: 100px;
}

.dropdown-toggle::after {
    display: none;
}

img.dropdown-toggle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

img.dropdown-toggle:focus {
    outline: none;
}
