<nav class="navbar navbar-expand-sm navbar-light bg-white shadow-sm fixed-top">
    <button
        type="button"
        class="mr-2"
        id="btn-sidebar-toggle"
        *ngIf="actualRoute === '/home' && !user.pre"
        (click)="toggleSidebar()"
    >
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <a class="navbar-brand" [routerLink]="[user ? '/home' : '/']">
        <img [src]="logoUrl" alt="" id="img-logo" />
    </a>
    <div class="ml-auto">
        <ul class="navbar-nav mt-2 mt-lg-0">
            <li
                class="nav-item"
                ngbDropdown
                display="dynamic"
                placement="bottom-right"
                *ngIf="!user"
            >
                <button
                    type="button"
                    class="btn btn-sm btn-outline-primary"
                    [routerLink]="['login']"
                    *ngIf="actualRoute !== '/login' && !user"
                >
                    Login
                </button>
            </li>
            <li
                class="nav-item"
                ngbDropdown
                display="dynamic"
                placement="bottom-right"
                *ngIf="user"
            >
                <img
                    ngbDropdownToggle
                    role="button"
                    tabindex="0"
                    [src]="user.img ? user.img : 'assets/images/default-user.svg'"
                    class="border"
                />

                <div
                    ngbDropdownMenu
                    aria-labelledby="navbarDropdown3"
                    class="dropdown-menu"
                >
                    <a ngbDropdownItem href="#" [routerLink]="['user']"
                        ><img src="assets/images/user.svg" class="icon mr-2"> Perfil</a
                    >
                    <a
                        ngbDropdownItem
                        href="#"
                        ngbDropdownItem
                        (click)="logOut()"
                        ><img src="assets/images/logout.svg" class="icon mr-2"> Salir</a
                    >
                </div>
            </li>
        </ul>
    </div>
</nav>
