<div class="row">
  <div class="col-lg-6 d-none d-lg-block">
    <img src="assets/images/illustrations/wfh_1.svg" alt="" class="w-100" />
  </div>
  <div class="col-lg-6 px-5 py-3">
    <div class="registro-title">
      Registrate
    </div>
    <div class="registro-subtitle">
      Un lugar donde tus proyectos cobran vida.
    </div>
    <div class="px-3 py-3">
      <form (ngSubmit)="preRegistroUser()">
        <!-- Nombre -->
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          placeholder="Nombre"
          [(ngModel)]="user.name"
          aria-describedby="helpId"
        />

        <!-- Correo -->
        <input
          type="text"
          name="email"
          id="email"
          class="form-control"
          placeholder="Correo"
          [(ngModel)]="user.email"
          aria-describedby="helpId"
        />
        <!-- contraseña -->
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          placeholder="Contraseña"
          [(ngModel)]="user.password"
          aria-describedby="helpId"
        />
        <div class="mt-4">
          <button type="submit" id="" class="btn btn-primary btn-block">
            Continuar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
