<div class="row">
  <div class="col-lg-6">
      <img src="assets/images/illustrations/wfh_1.svg" alt="">
  </div>
  <div class="col-lg-6">
    <div><img src="assets/images/logo-dark.png" alt="" id="logo" /></div>
    <div class="registro-title">
      Registrate
    </div>
    <div class="registro-subtitle">
      Un lugar donde tus proyectos cobran vida.
    </div>
    <div class="shadow p-4 mt-3 rounded">
      <div class="pt-1">
        <!-- Correo -->
        <input
          type="text"
          name="email"
          id="email"
          class="form-control"
          placeholder="Correo"
          aria-describedby="helpId"
        />

        <!-- Contraseña -->
        <label for="password"></label>
        <input
          type="text"
          name="password"
          id="password"
          class="form-control"
          placeholder="Contraseña"
          aria-describedby="helpId"
        />
        <!-- Repetir contraseña -->
        <label for="repassword"></label>
        <input
          type="text"
          name="repassword"
          id="repassword"
          class="form-control"
          placeholder="Repetir contraseña"
          aria-describedby="helpId"
        />
      </div>
      <div class="mt-4">
          <button type="button" id="" class="btn btn-primary btn-block">Siguiente</button>
      </div>
    </div>
  </div>
</div>
