@import "variables.scss";

input {
    margin-top: 15px;
    font-family: Montserrat;
}

#logo {
    width: 150px;
}

.registro-title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.3em;
    color: $blue-crayola;
}

.registro-subtitle {
    font-family: Poppins;
    font-size: 1.5em;
}