nav {
    height: 40px;
    display: grid;
    place-content: flex-end;
}

#logo {
    color: #ffffff8f
}

.layout-icon {
    height: 25px;
}

#snippets i {
    font-size: 20px;
}

a:hover {
    cursor: pointer;
}