<div class="d-flex animate__animated animate__fadeIn animate__faster">
    <app-sidebar
        class="bg-white"
        (createNew)="openModal(content, $event)"
    ></app-sidebar>

    <div
        class="toggle-animation w-100 px-5 py-4"
        [ngClass]="{ toggle: !toggleSidebar }"
    >
        <div class="row">
            <div class="col-12">
                <div class="title">
                    <i class="fa fa-code mr-2" aria-hidden="true"></i> Proyectos
                    recientes
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="project-card my-3">
                    <div class="project-card-bg"></div>
                    <img
                        src="assets/images/profile.png"
                        class="project-card-img border"
                    />
                    <div class="project-card-title">
                        <div>Proyecto2</div>
                        <div class="project-card-subtitle">
                            <div>html css js</div>
                            <div class="project-card-time">
                                Fecha: {{ 1596306399891 | date: 'L' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="project-card my-3">
                    <div class="project-card-bg"></div>
                    <img
                        src="assets/images/profile.png"
                        class="project-card-img border"
                    />
                    <div class="project-card-title">
                        <div>Proyecto2</div>
                        <div class="project-card-subtitle">
                            <div>html css js</div>
                            <div class="project-card-time">
                                Fecha: {{ 1596306399891 | date: 'L' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="project-card my-3">
                    <div class="project-card-bg"></div>
                    <img
                        src="assets/images/profile.png"
                        class="project-card-img border"
                    />
                    <div class="project-card-title">
                        <div>Proyecto2</div>
                        <div class="project-card-subtitle">
                            <div>html css js</div>
                            <div class="project-card-time">
                                Fecha: {{ 1596306399891 | date: 'L' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4" *ngIf="deviceResolution > 576">
            <div class="col-12">
                <div class="text-right">
                    <span class="mr-2 text-muted text-enfasis">Vista:</span>
                    <i
                        class="btn btn-light shadow-sm fa fa-list mr-2"
                        aria-hidden="true"
                        (click)="list = true"
                    ></i>
                    <i
                        class="btn btn-light shadow-sm fa fa-th"
                        aria-hidden="true"
                        (click)="list = false"
                    ></i>
                </div>
            </div>
        </div>

        <div class="row" [ngClass]="{ 'd-none': !list }">
            <div class="col-12">
                <div class="title">
                    <i class="fa fa-folder-open mr-2" aria-hidden="true"></i>
                    Carpetas /
                    <i class="fa fa-code mr-2" aria-hidden="true"></i> Proyectos
                </div>
            </div>
            <div class="table-responsive mt-4 content">
                <nav class="nav" *ngIf="navigation.length >= 1">
                    <a class="nav-link" (click)="navigate()"
                        ><i class="fa fa-arrow-left"></i>...</a
                    >

                    <div class="form-group form-inline ml-auto">
                        Buscar por nombre:
                        <input
                            class="form-control ml-2"
                            type="text"
                            [(ngModel)]="search"
                        />
                    </div>
                </nav>
                <table class="table">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha creacion</th>
                        <th scope="col">
                            Fecha de modificacion
                        </th>
                        <th>Acciones</th>
                    </tr>
                    <tr
                        *ngFor="let folder of folders | filter: search"
                        (click)="getFolderContent(folder)"
                        class="animate__animated animate__fadeIn animate__faster"
                    >
                        <td>
                            <div class="p-1">
                                <i
                                    class="fa fa-folder text-muted"
                                    aria-hidden="true"
                                ></i>
                                <span class="ml-2">{{ folder.name }}</span>
                            </div>
                        </td>
                        <td>{{ folder.create_date | date }}</td>
                        <td>{{ folder.wirte_date | date }}</td>
                        <td>
                            <i
                                class="fa fa-edit btn btn-ligth mr-2"
                                aria-hidden="true"
                            ></i>
                            <i
                                class="fa fa-trash btn btn-ligth text-danger"
                                aria-hidden="true"
                            ></i>
                        </td>
                    </tr>
                    <tr
                        *ngFor="let project of projects | filter: search"
                        class="animate__animated animate__fadeIn animate__faster"
                        (click)="loadProject(project)"
                    >
                        <td>
                            <i class="fa fa-code" aria-hidden="true"></i>
                            <span class="ml-2">{{ project.name }}</span>
                        </td>
                        <td>{{ project.create_date | date }}</td>
                        <td>{{ project.write_date | date }}</td>
                        <td>
                            <i
                                class="fa fa-edit btn btn-ligth mr-2"
                                aria-hidden="true"
                            ></i>
                            <i
                                class="fa fa-trash btn btn-ligth text-danger"
                                aria-hidden="true"
                            ></i>
                        </td>
                    </tr>
                    <tr
                        *ngIf="
                            (folders | filter: search).length == 0 &&
                            (projects | filter: search).length == 0
                        "
                        class="animate__animated animate__fadeIn animate__faster"
                    >
                        <td colspan="4" class="text-center">
                            <img
                                src="assets/images/illustrations/no_results.svg"
                                alt=""
                                class="no-results-img"
                            />
                            <div class="no-results-text">
                                No se encontraron carpetas o proyectos
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row" [ngClass]="{ 'd-none': list }">
            <div class="col-12">
                <div class="title">
                    <i class="fa fa-folder-open mr-2" aria-hidden="true"></i>
                    Carpetas
                </div>
            </div>
            <div class="col-12 pt-3">
                <nav class="nav" *ngIf="navigation.length >= 1">
                    <a class="nav-link" (click)="navigate()"
                        ><i class="fa fa-arrow-left"></i>...</a
                    >

                    <div class="form-group form-inline ml-auto">
                        Buscar por nombre:
                        <input
                            class="form-control ml-2"
                            type="text"
                            [(ngModel)]="search"
                        />
                    </div>
                </nav>
            </div>
            <div
                class="col-lg-3 col-md-4 col-6"
                *ngFor="let folder of folders | filter: search"
            >
                <div class="card show-sm mt-4">
                    <div
                        class="card-body text-truncate"
                        (click)="getFolderContent(folder)"
                    >
                        <i class="fa fa-folder mr-3" aria-hidden="true"></i
                        >{{ folder.name }}
                    </div>
                </div>
            </div>

            <div class="col-12 mt-4" *ngIf="projects.length > 0">
                <div class="title">
                    <i class="fa fa-code mr-2" aria-hidden="true"></i> Proyectos
                </div>
            </div>

            <div
                class="col-lg-3 col-md-4 col-sm-6"
                *ngFor="let project of projects | filter: search"
                (click)="loadProject(project)"
            >
                <div class="project-card my-3">
                    <div class="project-card-bg"></div>
                    <img
                        src="assets/images/profile.png"
                        class="project-card-img border"
                    />
                    <div class="project-card-title">
                        <div>{{ project.name }}</div>
                        <div class="project-card-subtitle">
                            <div>html css js</div>
                            <div class="project-card-time">
                                Fecha: {{ project.creation_date | date: 'L' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="col-12 mt-2 text-center animate__animated animate__fadeIn animate__faster"
                *ngIf="
                    (folders | filter: search).length == 0 &&
                    (projects | filter: search).length == 0
                "
            >
                <img
                    src="assets/images/illustrations/no_results.svg"
                    alt=""
                    class="no-results-img"
                />
                <div class="no-results-text">
                    No se encontraron carpetas o proyectos
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header border-0 pb-0">
        <h4 class="modal-title font-weight-light">{{ modalText.title }}</h4>
    </div>
    <div class="modal-body py-0">
        <div class="form-group mt-2">
            <input
                type="text"
                class="form-control"
                name=""
                id=""
                [(ngModel)]="name"
                aria-describedby="helpId"
                [placeholder]="'Nombre ' + modalText.type"
            />
        </div>
    </div>
    <div class="modal-footer border-0 pt-0">
        <button
            type="button"
            class="btn btn-ligth"
            (click)="modal.close('Close click')"
        >
            Cancelar
        </button>
        <button
            type="button"
            class="btn btn-sm btn-primary"
            (click)="newItem()"
        >
            Aceptar
        </button>
    </div>
</ng-template>
