@import 'variables.scss';
$shadow: 0 0.1rem 1px rgba(0, 0, 0, 0.175);

.toggle-animation {
    transition: margin-left 0.25s;
}

.toggle {
    margin-left: 16rem;
}

.title {
    font-weight: 600;
    font-size: 1.7em;
    border-bottom: solid 1px #adadad6f;
    padding-bottom: 15px;
}

.content {
    background-color: white;
    box-shadow: $shadow;
    border-radius: 5px;
    margin-top: 15px;
    padding: 15px 10px;
}

.project-card {
    position: relative;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    box-shadow: $shadow;
    border-radius: 10px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.project-card:hover {
    cursor: pointer;
    // transform: scale(1.0525);
    // transition: transform 0.25s;
    .project-card-title {
        .project-card-title span {
            display: block;
        }
        color: #fff;
        height: 20%;
        transition: height 0.25s;
    }
}

.project-card-title {
    position: absolute;
    font-size: 1.1em;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    padding: 0 0 0 5px;
    box-sizing: border-box;
    width: 100%;
    height: 0%;
    overflow: hidden;
    color: transparent;
    background: #3131318e;
    font-weight: 600;
    text-align: center;
    transition: height 0.25s;

    .project-card-title span {
        display: none;
    }
}

.project-card-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card {
    background: #ffffff;
    box-shadow: $shadow;
    border: none;
}

.card:hover {
    cursor: pointer;
    background: #eef3fa;
    box-shadow: $shadow;
}

.card-body {
    padding: 1em;
}

nav i {
    position: relative;
    top: 4px;
}

.nav-link {
    margin: 5px;
    margin: 5px;
    font-size: 1.2em;
    letter-spacing: 5px;
    padding: 0;
    padding-bottom: 10px;
}

.nav-link:hover {
    cursor: pointer;
}

tr:hover {
    cursor: pointer;
    background: #f4f5f7;
}

th {
    font-size: 0.8em;
    color: #5e6c84;
    border-bottom: solid 1px #cccccc;
    font-weight: 600;
}

th:hover {
    cursor: default;
}

//media querys
@media (max-width: 576px) {
    .toggle {
        margin: 0;
    }
}
