<app-navbar></app-navbar>
<div class="d-flex animate__animated animate__fadeIn animate__faster">
    <app-sidebar
        class="bg-white"
        (createNew)="openModal(modalNewItem, $event)"
    ></app-sidebar>

    <div
        class="toggle-animation w-100 px-4 pb-4"
        [ngClass]="{ toggle: !toggleSidebar }"
        id="main"
    >
        <div class="row">
            <div class="col-12">
                <div class="title">
                    Proyectos recientes
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="project-card my-3">
                    <div class="project-card-bg"></div>
                    <img
                        src="assets/images/profile.png"
                        class="project-card-img border"
                    />
                    <div class="project-card-title">
                        <div>Proyecto2</div>
                        <div class="project-card-subtitle">
                            <div>html css js</div>
                            <div class="project-card-time">
                                Fecha: {{ 1596306399891 | date: 'L' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="project-card my-3">
                    <div class="project-card-bg"></div>
                    <img
                        src="assets/images/profile.png"
                        class="project-card-img border"
                    />
                    <div class="project-card-title">
                        <div>Proyecto2</div>
                        <div class="project-card-subtitle">
                            <div>html css js</div>
                            <div class="project-card-time">
                                Fecha: {{ 1596306399891 | date: 'L' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                <div class="project-card my-3">
                    <div class="project-card-bg"></div>
                    <img
                        src="assets/images/profile.png"
                        class="project-card-img border"
                    />
                    <div class="project-card-title">
                        <div>Proyecto2</div>
                        <div class="project-card-subtitle">
                            <div>html css js</div>
                            <div class="project-card-time">
                                Fecha: {{ 1596306399891 | date: 'L' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="deviceResolution > 576">
            <div class="col-12">
                <div class="text-right">
                    <span class="mr-2 text-muted text-enfasis">Vista:</span>
                    <i
                        class="btn btn-light shadow-sm fa fa-list mr-2"
                        aria-hidden="true"
                        (click)="list = true"
                    ></i>
                    <i
                        class="btn btn-light shadow-sm fa fa-th"
                        aria-hidden="true"
                        (click)="list = false"
                    ></i>
                </div>
            </div>
        </div>

        <div class="row" [ngClass]="{ 'd-none': !list }">
            <div class="col-12">
                <div class="title">
                    Mi unidad
                </div>
            </div>
            <div class="table-responsive">
                <nav class="nav">
                    <a
                        class="nav-link"
                        *ngIf="navigation.length > 1"
                        (click)="navigate()"
                        ><i class="fa fa-arrow-left"></i>...</a
                    >

                    <div class="form-group form-inline ml-auto">
                        Buscar por nombre:
                        <input
                            class="form-control ml-2"
                            type="text"
                            [(ngModel)]="search"
                        />
                    </div>
                </nav>
                <table class="table">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha creacion</th>
                        <th scope="col">
                            Fecha de modificacion
                        </th>
                        <th>Acciones</th>
                    </tr>
                    <tr
                        *ngFor="let folder of folders | filter: search"
                        (click)="getFolderContent(folder)"
                        class="animate__animated animate__fadeIn animate__faster"
                    >
                        <td>
                            <div class="p-1">
                                <img
                                    src="assets/images/folder.svg"
                                    class="folder-icon"
                                />
                                <span class="ml-2">{{ folder.name }}</span>
                            </div>
                        </td>
                        <td>{{ folder.create_date | date }}</td>
                        <td>{{ folder.wirte_date | date }}</td>
                        <td>
                            <i
                                (click)="
                                    openModal(modalEditItem, 'carpeta', folder);
                                    $event.stopPropagation()
                                "
                                class="fa fa-edit btn btn-ligth mr-2"
                                aria-hidden="true"
                            ></i>
                            <i
                                (click)="
                                    openModal(
                                        modalDeleteItem,
                                        'carpeta',
                                        folder
                                    );
                                    $event.stopPropagation()
                                "
                                class="fa fa-trash btn btn-ligth text-danger"
                                aria-hidden="true"
                            ></i>
                        </td>
                    </tr>
                    <tr
                        *ngFor="let project of projects | filter: search"
                        class="animate__animated animate__fadeIn animate__faster"
                        (click)="loadProject(project)"
                    >
                        <td>
                            <img
                                src="assets/images/project.svg"
                                class="project-icon"
                            />
                            <span class="ml-2">{{ project.name }}</span>
                        </td>
                        <td>{{ project.create_date | date }}</td>
                        <td>{{ project.write_date | date }}</td>
                        <td>
                            <i
                                (click)="
                                    openModal(
                                        modalEditItem,
                                        'proyecto',
                                        project
                                    );
                                    $event.stopPropagation()
                                "
                                class="fa fa-edit btn btn-ligth mr-2"
                                aria-hidden="true"
                            ></i>
                            <i
                                (click)="
                                    openModal(
                                        modalDeleteItem,
                                        'proyecto',
                                        project
                                    );
                                    $event.stopPropagation()
                                "
                                class="fa fa-trash btn btn-ligth text-danger"
                                aria-hidden="true"
                            ></i>
                        </td>
                    </tr>
                    <tr
                        *ngIf="
                            (folders | filter: search).length == 0 &&
                            (projects | filter: search).length == 0
                        "
                        class="animate__animated animate__fadeIn animate__faster"
                    >
                        <td colspan="4" class="text-center">
                            <img
                                src="assets/images/illustrations/no_results.svg"
                                alt=""
                                class="no-results-img"
                            />
                            <div class="no-results-text">
                                No se encontraron carpetas o proyectos
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row" [ngClass]="{ 'd-none': list }">
            <div class="col-12">
                <div class="title">
                    <img
                        src="assets/images/folder-open.svg"
                        class="folder-icon"
                    />
                    Carpetas
                </div>
            </div>
            <div class="col-12 pt-3">
                <nav class="nav">
                    <a
                        class="nav-link"
                        *ngIf="navigation.length > 1"
                        (click)="navigate()"
                        ><i class="fa fa-arrow-left"></i>...</a
                    >

                    <div class="form-group form-inline ml-auto">
                        Buscar por nombre:
                        <input
                            class="form-control ml-2"
                            type="text"
                            [(ngModel)]="search"
                        />
                    </div>
                </nav>
            </div>
            <div
                class="col-lg-3 col-md-4 col-6"
                *ngFor="let folder of folders | filter: search"
            >
                <div class="card show-sm mt-4">
                    <div
                        class="card-body text-truncate"
                        (click)="getFolderContent(folder)"
                    >
                        <img
                            src="assets/images/folder.svg"
                            class="folder-icon"
                        />
                        {{ folder.name }}
                    </div>
                </div>
            </div>

            <div class="col-12 mt-4" *ngIf="projects.length > 0">
                <div class="title">
                    <img src="assets/images/project.svg" class="project-icon" />
                    Proyectos
                </div>
            </div>

            <div
                class="col-lg-3 col-md-4 col-sm-6"
                *ngFor="let project of projects | filter: search"
                (click)="loadProject(project)"
            >
                <div class="project-card my-3">
                    <div class="project-card-bg"></div>
                    <img
                        src="assets/images/profile.png"
                        class="project-card-img border"
                    />
                    <div class="project-card-title">
                        <div>{{ project.name }}</div>
                        <div class="project-card-subtitle">
                            <div>html css js</div>
                            <div class="project-card-time">
                                Fecha: {{ project.creation_date | date: 'L' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="col-12 mt-2 text-center animate__animated animate__fadeIn animate__faster"
                *ngIf="
                    (folders | filter: search).length == 0 &&
                    (projects | filter: search).length == 0
                "
            >
                <img
                    src="assets/images/illustrations/no_results.svg"
                    alt=""
                    class="no-results-img"
                />
                <div class="no-results-text">
                    No se encontraron carpetas o proyectos
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalNewItem let-modal>
    <div class="modal-header border-0 pb-0">
        <h4 class="modal-title font-weight-light">{{ modalItemData.title }}</h4>
    </div>
    <div class="modal-body py-0">
        <div class="form-group mt-2">
            <input
                type="text"
                class="form-control"
                name=""
                id=""
                [(ngModel)]="name"
                aria-describedby="helpId"
                [placeholder]="'Nombre ' + modalItemData.type"
            />
        </div>
    </div>
    <div class="modal-footer border-0 pt-0">
        <button
            type="button"
            class="btn btn-ligth"
            (click)="modal.close('Close click')"
        >
            Cancelar
        </button>
        <button
            type="button"
            class="btn btn-sm btn-primary"
            (click)="newItem()"
        >
            Aceptar
        </button>
    </div>
</ng-template>

<!-- Editar nombre -->
<ng-template #modalEditItem let-modal>
    <div class="modal-header border-0 pb-0">
        <h4 class="modal-title font-weight-light">
            Editar nombre {{ modalItemData.type }}
        </h4>
    </div>
    <div class="modal-body py-0">
        <div class="form-group mt-2">
            <input
                type="text"
                class="form-control"
                name=""
                id=""
                [(ngModel)]="name"
                value="2"
                aria-describedby="helpId"
                [placeholder]="modalItemData.item.name"
            />
        </div>
    </div>
    <div class="modal-footer border-0 pt-0">
        <button
            type="button"
            class="btn btn-ligth"
            (click)="modal.close('Close click')"
        >
            Cancelar
        </button>
        <button
            type="button"
            class="btn btn-sm btn-primary"
            [disabled]="name == modalItemData.item.name"
            (click)="editItem()"
        >
            Aceptar
        </button>
    </div>
</ng-template>

<!-- Editar nombre -->
<ng-template #modalDeleteItem let-modal>
    <div class="modal-header row border-0 pb-0">
        <div class="col-12">
            <h4 class="modal-title font-weight-light">
                Eliminar {{ modalItemData.type }}
            </h4>
        </div>
        <div class="col-12">
            <div class="alert alert-danger" role="alert">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Se
                eliminara {{modalItemData.type == 'carpeta' ? 'la carpeta' : 'el proyecto'}} y todo su contenido!
                <br />
                Ingrese
                <b>{{ modalItemData.item.name }}</b>
                para confirmar.
            </div>
        </div>
    </div>
    <div class="modal-body py-0">
        <div class="form-group mt-2">
            <input
                type="text"
                class="form-control"
                name=""
                id=""
                [(ngModel)]="name"
                value="2"
                aria-describedby="helpId"
                [placeholder]="modalItemData.item.name"
            />
        </div>
    </div>
    <div class="modal-footer border-0 pt-0">
        <button
            type="button"
            class="btn btn-ligth"
            (click)="modal.close('Close click')"
        >
            Cancelar
        </button>
        <button
            type="button"
            class="btn btn-sm btn-primary"
            [disabled]="name != modalItemData.item.name"
            (click)="deleteItem()"
        >
            Aceptar
        </button>
    </div>
</ng-template>
