nav {
    height: 40px;
}

input {
    width: 50%;
    padding-left: 10px;
    background: #414850;
    border: none;
    color: #ffffffAf
}

#go-back {
    color: #ffffff8f
}

a.button:hover {
    cursor: pointer;
    background: #ffffff3b;
}