@import 'variables.scss';
input {
    margin-top: 10px;
}

.login-title {
    font-family: Montserrat;
    font-weight: bold;
    font-size:2.3em;
    color: $blue-crayola;
}

.login-subtitle {
    font-family: Poppins;
    font-size: 1.5em;
}