<div class="container mb-5">
  <!-- Header -->
  <div class="row">
    <div class="col-lg-6 code-card-bg mb-5">
      <div class="row" *ngFor="let sampleCode of sampleCodes">
        <div
          class="col-lg-6 col-8 code-card"
          [id]="'code-card-' + sampleCode.type"
        >
          <pre><code [highlight]="sampleCode.code"></code></pre>
        </div>
      </div>
    </div>
    <div class="col-lg-5 offset-lg-1">
      <p class="header-subtitle">El mejor lugar para crear tus proyectos.</p>
      <h1 class="header-title m-0">Todo en un solo lugar!</h1>
      <p class="header-title-text">
        Con codeLink podras crear tu propio sitio web completo, desde el
        navegador web, simple y rapido.
      </p>
    </div>
  </div>

  <!-- Caracteristicas -->
  <div class="row section position-relative" id="caracteristicas">
    <div
      class="col-lg-4 col-md-6 col-xs-10 offset-xs-2"
      *ngFor="let caracteristica of caracteristicas"
    >
      <div class="caracteristicas-card">
        <div class="caractaristica-card-icon ml-auto mr-auto">
          <img [src]="caracteristica.imagen" class="w-100 h-100" />
        </div>
        <h2>{{ caracteristica.titulo }}</h2>
        <p>{{ caracteristica.descripcion }}</p>
      </div>
    </div>
  </div>

  <div class="row section position-relative">
    <div class="servicios-section-bg-graphics">
      <img src="assets/images/landing/servicios-section-bg.png" class="w-100" />
    </div>
    <div class="col-lg-5 servicios-title-section">
      <p class="servicios-subtitle">Nuestros servicios</p>
      <h2 class="servicios-title">Facil exportación</h2>
      <p class="servicios-text">
        Exporta tu proyecto completo con tan solo con un click, listo para ser
        lanzado a producción, en menos de un minuto!
      </p>
    </div>
    <div class="col-lg-6 offset-lg-1">
      <img src="assets/images/landing/servicios-header.png" class="w-100" />
    </div>
  </div>

  <div class="row section">
    <div class="col-lg-6 padding-0">
      <img
        src="assets/images/landing/servicios-sales-header.png"
        class="w-100"
      />
    </div>
    <div class="col-lg-5 offset-lg-1 servicios-title-section">
      <p class="servicios-subtitle">Nuestros servicios</p>
      <h2 class="servicios-title">Almacenamiento en la nube</h2>
      <p class="servicios-text">
        Crea tus proyectos desde cualquier lugar con respaldo en la nube.
      </p>
      <div class="learn-more-btn-section">
        <button
          type="button"
          class="btn btn-primary btn-lg btn-block rounded-pill"
        >
          Ver precios
        </button>
      </div>
    </div>
  </div>

  <div class="row section">
    <div class="col">
      <div class="precio-title">
        <h2>Precios</h2>
        <p>
          Ofrecemos servicios de calidad, con paquetes que se adaptan a todos los
          publicos.
        </p>
      </div>
    </div>
  </div>

  <div class="row section">
    <div class="col-lg-4 col-md-6 col-xs-10 precio-card-section">
      <div class="precio-card">
        <p class="precio-rate">Gratis</p>
        <p class="precio-period">Plan basico</p>
        <p class="precio-text">
          Ideal para aventureros
        </p>
        <div
          class="precio-all-plan-features-section basic-plan-features-section"
        >
          <ul>
            <li class="check">Almacenamiento en la nube</li>
            <li class="check">Exportar proyectos</li>
            <li>Proyectos ilimitados</li>
            <li>Lineas de codigo ilimitadas</li>
          </ul>
        </div>
        <button type="button" class="btn btn-primary btn-block rounded-pill">
          Obtener
        </button>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-10 precio-card-section">
      <div class="precio-card featured">
        <p class="precio-rate">$3/Mes</p>
        <p class="precio-period">Plan premium</p>
        <p class="precio-text">
          Ideal para entusiastas
        </p>
        <div
          class="precio-all-plan-features-section medium-plan-features-section"
        >
          <ul>
            <li class="check">Almacenamiento en la nube</li>
            <li class="check">Exportar proyectos</li>
            <li class="check">Proyectos ilimitados</li>
            <li>Lineas de codigo ilimitadas</li>
          </ul>
        </div>
        <button
          type="button"
          class="btn btn-primary btn-block rounded-pill font-weight-bold"
        >
          Obtener
        </button>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-10 precio-card-section">
      <div class="precio-card">
        <p class="precio-rate">$5/Mes</p>
        <p class="precio-period">Plan pro</p>
        <p class="precio-text">Sin limites!</p>
        <div
          class="precio-all-plan-features-section advance-plan-features-section"
        >
          <ul>
            <li class="check">Almacenamiento en la nube</li>
            <li class="check">Exportar proyecto</li>
            <li class="check">Proyectos ilimitados</li>
            <li class="check">Lineas de codigo ilimitadas</li>
          </ul>
        </div>
        <button type="button" class="btn btn-primary btn-block rounded-pill">
          Obtener
        </button>
      </div>
    </div>
  </div>

  <div class="row section">
    <div class="col-md-6 contact-title-section">
      <p class="contact-subtitle">Contacto</p>
      <h2 class="contact-title">Consultas?<br />Mantente en contacto!</h2>
      <p class="contact-text">
        Nos encantaria resolver cualquiera de tus preguntas. Envianos un email y
        te responderemos lo mas pronto posible.
      </p>
      <div class="learn-more-btn-section">
        <button type="button" class="btn btn-primary btn-lg rounded-pill">
          Enviar un Email
        </button>
      </div>
    </div>
    <div class="col-md-6 contact-header-img">
      <img src="assets/images/landing/contact-header-img.png" class="w-100" />
    </div>
  </div>
</div>
