<div class="project-container">
    <!-- <div class="code" id="html"></div>
    <div class="code" id="css"></div>
    <div class="code" id="js"></div>
    <div class="code" id="code"></div> -->

    <gridster [options]="options">
        <gridster-item [item]="dashboard[0]">
            <div class="code-editor" #codeEditorHTML></div>
        </gridster-item>
        <gridster-item [item]="dashboard[1]">
            <div class="code-editor" #codeEditorCSS></div>
        </gridster-item>
        <gridster-item [item]="dashboard[2]">
            <div class="code-editor" #codeEditorJS></div>
        </gridster-item>
        <gridster-item [item]="dashboard[3]">
            <div class="code-editor" #codeEditorJS></div>
        </gridster-item>
    </gridster>
</div>
