<div class="row">
  <div class="col-lg-6 d-none d-lg-block">
    <img
      src="assets/images/illustrations/login.svg"
      alt=""
      class="w-100 h-100"
    />
  </div>
  <div class="col-lg-6 px-5 py-3">
    <div class="login-title">
      Iniciar sesion
    </div>
    <div class="login-subtitle">
      Accede para continuar tu trabajo
    </div>
    <div class="p-3 mt-3">
      <div class="pt-1">
        <!-- Correo -->
        <input
          type="text"
          name="email"
          id="email"
          class="form-control"
          placeholder="Correo"
          aria-describedby="helpId"
        />

        <!-- Contraseña -->
        <label for="password"></label>
        <input
          type="text"
          name="password"
          id="password"
          class="form-control"
          placeholder="Contraseña"
          aria-describedby="helpId"
        />
        <div class="mt-4">
          <button type="button" id="" class="btn btn-primary btn-block">
            Iniciar sesion
          </button>
        </div>
        <div class="text-center mt-2">
          <a [routerLink]="['/registro']">Eres nuevo? Registrate</a>
        </div>
      </div>
    </div>
  </div>
</div>
