<div class="row">
  <div class="col-lg-6">
      <img src="assets/images/illustrations/login.svg" alt="" class="w-75">
  </div>
  <div class="col-lg-6">
    <div><img src="assets/images/logo-dark.png" alt="" id="logo" /></div>
    <div class="login-title">
      Iniciar sesion
    </div>
    <div class="login-subtitle">
      Accede para continuar tu trabajo
    </div>
    <div class="shadow p-4 mt-3 rounded">
      <div class="pt-1">
        <!-- Correo -->
        <input
          type="text"
          name="email"
          id="email"
          class="form-control"
          placeholder="Correo"
          aria-describedby="helpId"
        />

        <!-- Contraseña -->
        <label for="password"></label>
        <input
          type="text"
          name="password"
          id="password"
          class="form-control"
          placeholder="Contraseña"
          aria-describedby="helpId"
        />
      <div class="mt-4">
        <button type="button" id="" class="btn btn-primary btn-block">
          Iniciar sesion
        </button>
      </div>
    </div>
  </div>
</div>
