<ul id="menu">
    <!-- Root -->
    <li *ngFor="let item of [1, 2, 3, 5, 7]" (click)="active($event)">
        <input type="checkbox" name="list" [id]="item" /><label
            [for]="item"
            class="position-relative"
            [ngClass]="{ 'text-white': activeFolder == item }"
        >
            <span [ngClass]="{ active: activeFolder == item }"></span>
            <span class="ml-2">Folder name</span>
        </label>
        <!-- Childs -->
        <ul class="interior" *ngFor="let item of ['a', 'b', 'c']">
            <li (click)="active($event)">
                <input type="checkbox" name="list" [id]="item" /><label
                    [for]="item"
                    class="position-relative"
                    [ngClass]="{ 'text-white': activeFolder == item }"
                >
                    <span [ngClass]="{ active: activeFolder == item }"></span>
                    <span class="ml-2">Folder name</span>
                </label>
                <ul class="interior">
                    . . . . .
                </ul>
            </li>
        </ul>
    </li>
</ul>
