<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="precio-title">
        <h2>Precios</h2>
        <p>
          Ofrecemos servicios de calidad, con paquetes que se adaptan a todos
          los publicos.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-10 precio-card-section">
      <div class="precio-card shadow">
        <div class="precio-card-header">
          <p class="precio-period">Plan basico</p>
          <p class="precio-rate">Free</p>
          <p class="precio-text">Ideal para aventureros</p>
        </div>
        <div class="precio-card-body">
          <ul>
            <li class="check">Almacenamiento en la nube</li>
            <li class="uncheck">Exportar proyecto</li>
            <li class="uncheck">Proyectos ilimitados</li>
            <li class="uncheck">Lineas de codigo ilimitadas</li>
          </ul>
          <button type="button" class="btn btn-precio btn-block">
            Obtener
          </button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-10 precio-card-section">
      <div class="precio-card shadow">
        <div class="precio-card-header">
          <p class="precio-period">Plan estandar</p>
          <p class="precio-rate">$3/Mes</p>
          <p class="precio-text">Ideal para entusiastas</p>
        </div>
        <div class="precio-card-body">
          <ul>
            <li class="check">Almacenamiento en la nube</li>
            <li class="check">Exportar proyecto</li>
            <li class="uncheck">Proyectos ilimitados</li>
            <li class="uncheck">Lineas de codigo ilimitadas</li>
          </ul>
          <button type="button" class="btn btn-precio btn-block">
            Obtener
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-10 precio-card-section">
      <div class="precio-card shadow">
        <div class="precio-card-header">
          <p class="precio-period">Plan premium</p>
          <p class="precio-rate">$5/Mes</p>
          <p class="precio-text">Sin limites!</p>
        </div>
        <div class="precio-card-body">
          <ul>
            <li class="check">Almacenamiento en la nube</li>
            <li class="check">Exportar proyecto</li>
            <li class="check">Proyectos ilimitados</li>
            <li class="check">Lineas de codigo ilimitadas</li>
          </ul>
          <button type="button" class="btn btn-precio btn-block">
            Obtener
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
