<div [ngClass]="{ toggle: toggleSidebar }" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
        <div ngbDropdown placement="right" class="d-inline-block w-75 mx-auto">
            <button
                class="btn btn-light btn-block my-4"
                id="dropdownNuevo"
                ngbDropdownToggle
            >
                <i class="fa fa-plus mr-2" aria-hidden="true"></i> Nuevo
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownNuevo">
                <button
                    class="btn btn-light"
                    ngbDropdownItem
                    (click)="new('carpeta')"
                >
                    Carpeta
                </button>
                <button
                    class="btn btn-light"
                    ngbDropdownItem
                    (click)="new('proyecto')"
                >
                    Proyecto
                </button>
            </div>
        </div>
        <ng-scrollbar id="tree">
            <div class="ml-4 mb-3 text-muted text-enfasis border-bottom w-75"><i class="fa fa-home text-muted mr-1" aria-hidden="true"></i> Directorio raiz</div>
            <app-folder-tree-view></app-folder-tree-view>
            <div class="ml-4 mb-3 text-muted text-enfasis border-bottom w-75"><i class="fa fa-star text-muted mr-1" aria-hidden="true"></i> Favoritos</div>
        </ng-scrollbar>
    </div>
</div>
