@import 'folder-tree-view.scss';

#sidebar-wrapper {
    position: fixed;
    z-index: 1;
    background: #f7f7f7;
    min-height: 100vh;
    padding-top: 60px;
    transition: margin 0.25s;
    box-shadow: inset -0.1rem 0 1rem rgba(0, 0, 0, 0.15) !important;
}

#sidebar-wrapper.toggle {
    margin-left: -16rem;
    //  transition: margin 0s;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 16rem;
}

#sidebar-wrapper {
    margin-left: 0;
}

.title {
    font-weight: 600;
}

@media (max-width: 576px) {
    #sidebar-wrapper {
        margin-left: -16rem;
    }

    #sidebar-wrapper.toggle {
        margin-left: 0;
    }
}

a:hover {
    text-decoration: none !important;
}

.item-btn {
    display: grid;
    place-items: center;
    width: 100%;
    position: relative;
    display: inline-block;
    font-size: 1.1em;
    //border-radius: 30px;
    text-align: center;
    padding: 9px 0;
    transition: all 0.3s;
    margin: 0px 5px;
    //box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06);
}

.item-btn .btn-icon {
    width: 0px;
    height: 45px;
    float: left;
    position: absolute;
    //border-radius: 30px 30px 30px 0;
    left: 0px;
    top: 0px;
    transition: background-color, width 0.3s;
}
.name {
    position: relative;
    z-index: 9999;
}
.btn-icon::after {
    content: '';
    width: 0;
    height: 0;
    //border-top: 45px solid #fcfcfc;
    border-right: 40px solid transparent;
    position: absolute;
    top: 0px;
    left: 0px;
}
.item-btn:hover .btn-icon {
    width: 100%;
    //border-radius: 30px;
}
.item-btn:hover .btn-icon::after {
    display: none;
    opacity: 0.1;
}
.btn-icon i {
    position: absolute;
    left: 25px;
    top: 15px;
}
.item-btn:hover {
    color: #fff !important;
}
.folder {
    background-color: #ff586b !important;
}
.snippet {
    background-color: #00b7c4 !important;
}
.project {
    background-color: #8bc34a !important;
}
.hover-box {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
