<div [ngClass]="{ toggle: toggleSidebar }" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
        <div
            ngbDropdown
            container="body"
            placement="right"
            class="d-inline-block w-75 mx-auto"
        >
            <div class="mt-3 text-muted">
                <b><i class="fa fa-plus mr-2" aria-hidden="true"></i> NUEVO</b>
            </div>

            <button
                class="btn btn-light btn-block text-muted my-2"
                (click)="new('carpeta')"
            >
                <i class="fa fa-folder" aria-hidden="true"></i> Carpeta
            </button>
            <button
                class="btn btn-block mdc-button--raised text-muted my-2"
                (click)="new('proyecto')"
            >
                <span><i class="fa fa-code" aria-hidden="true"></i> Proyecto</span>
            </button>
        </div>
        <ng-scrollbar id="tree">
            <div class="mt-4 ml-3 mb-3 text-muted w-75">
                <b
                    ><i
                        class="fa fa-home text-muted mr-1"
                        aria-hidden="true"
                    ></i>
                    DIRECTORIO RAIZ</b
                >
            </div>
            <ul id="menu">
                <!-- Root -->
                <li [routerLink]="['/home']">
                    <input
                        type="checkbox"
                        name="list"
                        id="main"
                        checked
                        disabled
                    /><label for="main" class="position-relative">
                        <span class="ml-2">Mi unidad</span>
                    </label>

                    <ul
                        class="interior"
                        *ngFor="let folder of folders"
                    >
                        <li (click)="active($event)">
                            <input
                                type="checkbox"
                                name="list"
                                [id]="folder._id"
                            /><label
                                [for]="folder._id"
                                class="position-relative"
                            >
                                <span class="ml-2">{{ folder.name }}</span>
                            </label>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="mt-3 ml-3 mb-3 w-75 text-muted">
                <b
                    ><i class="fa fa-user-circle" aria-hidden="true"></i> MI
                    CUENTA</b
                >
            </div>

            <div class="ml-4 mb-3 text-muted text-enfasis text-center w-75">
                10 de 20 proyectos
            </div>

            <div class="progress w-75 mx-auto">
                <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 25%;"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                ></div>
            </div>

            <div class="ml-4 mt-4 text-muted text-enfasis text-center w-75">
                <a [routerLink]="['/plans']">Actualizar plan</a>
            </div>
        </ng-scrollbar>
    </div>
</div>
